:root {
  /* main color */
  --color-primary: #bfa575;
  --color-secondary: #f2e4c9;
  --color-tertiary: #454c59;
  --color-quartinery: #fffacd;
  --color-quinary: #8c775d;
  --color-senary: #3b5998;
  --color-septenary: #f46f30;
  --color-octonary: #0976b4;
  --color-nonary: #498205;
  --color-denary: #55acee;
}
